.contacto-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}

.contacto-form-dos{
    width: 340px;
    border: 1px solid rgba(0, 54, 107, 1);
}

@media screen and (min-width:1020px) {
    .contacto-form-dos{
        width: 600px;
    }

    .contacto-contacto{
        gap:none;
    }

    .informacion-contacto{
        width: 554px;
    }

    .informacion-contacto h6{
        font-size: 21px;
    }

    .informacion-contacto h1{
        font-size: 48px;
        text-transform: none;
        font-weight: 900;
    }

    .informacion-contacto p{
        font-size: 21px;
    }
}