.equipo{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.equipo h1{
    width: 263px;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 54, 107, 1);
}

.equipo p{
    width: 297px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgba(56, 56, 56, 1);
}

.equipo-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.card-body{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body h3{
    width: 255px;
    font-size: 30px;
    color: rgba(0, 54, 107, 1);
    text-align: center;
}


.card-body p{
    width: 268px;
    font-size: 20px;
    color:rgba(56, 56, 56, 1);
}

.card-footer{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card-footer a img{
    cursor: pointer;
}

@media screen and (min-width:1020px) {
    .equipo h1{
        width: 671px;
        font-size: 52px;
    }

    .equipo p{
    width: 873px;
    font-size: 24px;
    }

    .equipo-cards{
        gap: 50px;
    }

    .equipo-cards{
        margin-bottom: 80px;
    }

    .card-img{
    height: 330px;
}

    .card-body{
        width: 327px;
        height: 100px;
    }

    .card-body h3{
        width: 100%;
        font-size: 32px;
    }

    .card-body p{
    width: 100%;
    font-size: 20px;   
    }

    .card-footer{
        padding-top: 20px;
    }

}

