.mision{
    height: 700px;
    background-color: rgba(0, 54, 107, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 50px 0 ;

}

.mision h3{
    width: 250px;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.mision h3 span{    
    color: rgba(255, 179, 15, 1);
}

.mision p{
    width: 298px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}