/*Breakpoints
320px
768px
1200px
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --azul:rgba(0, 54, 107, 1);
    --amarillo:rgba(255, 179, 15, 1);
}

body{
  margin: 0;
  padding: 0;
}

.mona-sans{
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bg-blue{
    background-color: var(--azul);
}

.bg-amarillo{
  background-color: var(--amarillo);
}