header{
    height: 711px;
    background:linear-gradient(to right, rgba(0, 22, 45, .7), rgba(0, 22, 45, .7)), url('/image/header/background.jpg');
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.principal-title{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    padding-top: 70px;
    margin-bottom: 20px;
}

.second-title{
    width: 285px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
}

#header-buttons{
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

#btn-diagnostico{
    background-color: rgba(255, 179, 15, 1);
    width: 278px;
    height: 49px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#btn-servicios{
    width: 278px;
    height: 49px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 179, 15, 1);
    color: rgb(255, 255, 255);
}