.modelo{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 50px;
}
.modelo-title{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 900;
    color: rgba(0, 54, 107, 1);
    width: 288px;
    text-align: center;
}

.modelo-subtitle{
    font-size: 18px;
    text-align: center;
    color: rgba(56, 56, 56, 1);
    width: 248px;
    margin-bottom: 10px;
}

#slider2{
    margin: auto;
}

/* ...existing code... */
.bx-wrapper {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}
/* ...existing code... */

@media screen and (min-width:768px){
    .modelo-title{
    margin-top: 40px;
    font-size: 50px;
    width: 793px;
}

.modelo-subtitle{
    font-size: 24px;
    width: 631px;
}

#slider2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

}
