.modelo{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.modelo-title{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 900;
    color: rgba(0, 54, 107, 1);
    width: 288px;
    text-align: center;
}

.modelo-subtitle{
    font-size: 18px;
    text-align: center;
    color: rgba(56, 56, 56, 1);
    width: 248px;
    margin-bottom: 10px;
}

#slider2{
    margin-bottom: 20px;
}
