#propuesta-valor{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card-propuesta{
    width: 273px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.card-propuesta-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 54, 107, 1);
}

.card-propuesta-subtitle{
    text-align: center;
    color: rgba(56, 56, 56, 1);
    font-size: 16px;
}