#servicios{
    padding: 20px 0;
}

#servicios-frase{
    width: 335px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.servicios-text01{
    font-size: 24px;
    color: rgba(255, 179, 15, 1);
}

.servicios-text02{
    font-size: 36px;
    font-weight: 900;
    color: rgba(0, 54, 107, 1);
    text-transform: uppercase;
}

.servicios-text03{
    font-size: 18px;
}

div:has(.bx-viewport){
    margin:0 auto;
}

#servicios .outside{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
    margin-bottom: 50px;
}

@media screen and (min-width:768px) {
    #servicios-frase{
        width: 600px;
    }

    #slider{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and(min-width:1020px) {
        #servicios-frase{
        width: 828px;
    }


}

