.diagnostico{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.background-uno{
    background: linear-gradient(to right, rgba(0, 22, 45, .7), rgba(0, 22, 45, .7)), url('../../image/diagnostico/persona_trabajando.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-dos{
    background: linear-gradient(to right, rgba(0, 22, 45, .7), rgba(0, 22, 45, .7)), url('../../image/read_team/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-tres{
    background: linear-gradient(to right, rgba(0, 22, 45, .7), rgba(0, 22, 45, .7)), url('../../image/alineamiento_legal/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-cuatro{
    background: linear-gradient(to right, rgba(0, 22, 45, .7), rgba(0, 22, 45, .7)), url('../../image/implementacion_sgsi/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-cinco{
    background: linear-gradient(to right, rgba(0, 22, 45, .7), rgba(0, 22, 45, .7)), url('../../image/analisis_de_riesgos/background-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-seis{
    background: linear-gradient(to right, rgba(0, 22, 45, .7), rgba(0, 22, 45, .7)), url('../../image/capacitacion/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.diagnostico-container h3{
    text-transform: uppercase;
    width: 330px;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    color:rgba(255, 255, 255, 1);
}

.diagnostico-container h3 span{
    color: rgba(255, 179, 15, 1);
}

.diagnostico-container p{
    width: 331px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

@media screen and (min-width:1020px){
    .diagnostico-container{
        width: 600px;
    }

    .diagnostico-container h3{
        width: 550px;
        font-size: 48px;
        margin-bottom: 10px;
    }

    .diagnostico-container p{
        width: 499px;
        text-align: left;
        font-size: 22px;
    }
}