.modelo-diagnostico{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.modelo-diagnostico h1{
    width: 288px;
    color: rgba(0, 54, 107, 1);
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

#card-line{
    display: none;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 115px;
}

.card-diagnostico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-diagnostico-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-diagnostico h3{
    width: 192px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 54, 107, 1);
    font-size: 22px;
    font-weight: 800;
}

.card-diagnostico p{
    width: 216px;
    color: rgba(56, 56, 56, 1);
    font-size: 16px;
    text-align: center;
}

@media screen and (min-width:1020px) {
    
    .modelo-diagnostico h1{
        width: 600px;
        font-size: 50px;
    }

    #card-line{
        display: block;
    }
}